@inject ASP.Services.Time.ITimeService timeService
@{
    ViewData["Title"] = "IoC";
}

<div class="text-center">
    <h1 class="display-4">Інверсія управління</h1>
</div>

<p>
    Інверсія управління(Inversion of Control, IoC) - архітектурний патерн,
    який виділяє окремий компонент (контейнер/інжектор), до задач якого
    належитьуправління життевими циклами об'єктів проекту.
    Можна сказати, що замість використання конструкції new Object,
    використовуються залежності - змінні, що встановлюються контейнером
    при побудові об'єктів.
</p>
<p>
    DIP (Dependency inversion principle) - принцип SOLID, який рекомендує
    створювати залежності від абстракції маскимального рівня.
    Висновок: сервіси описують разом з інтерфейсами.
</p>
<p>
    DI - Dependency Injection - посіб реалізації IoC шдяхом передачі
    посилань на об'єкти служб (сервісів) до точок інжекції

</p>
@ViewData["timestamp"]